body{
    background-color: grey;
}
h1{
    color: darkred;
}
p{
    color: darkgray;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid;
    margin: 50px;
    padding: 10px;
}

body{

    background-image: url(Splash.avif);
    background-repeat: no-repeat;  
}

table{
border: solid;

}

city{
background-color: tomato;
color: whitesmoke;
border: 2px solid black;
margin:20px;
padding: 20px;
}

