section{
    background-color: pink;
    width: 800px;
    height: 800px;
} 
 /*Section Element is parent for div */ 


div{
    background-color: green;
    width: 70%;
    height: 20%
}

h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 20%;
    padding: 10%;
}

/*here h1 element is a child as well as parent of own*/