div{
    width:100px;
    height:100px;
    background-color:cadetblue;
    border: 2px;
    margin:10px;
    display:inline block;
}

#middle{
    background-color:skyblue;
}


#Static #middle{
    position: static;
    top:100px;
    left:410px;
}

#Relative #middle{
    position: relative;
    top:10px;
    left:50px;
}

#Absolute #middle{
    position: relative;
    top:10px;
    left: 5px;
}

#Fixed #middle{
    position: relative;
    top:100px;
    left:40px;
}

