*{
    background-color: aliceblue;
}

button{
    font-size: x-large;
    color: teal;
}


h1,h2{
    color:magenta;
}

#reset{
    color:orange;
    height:100px;
}



footer a{
    color :teal;
}

input + button{
    background-color:bisque;
}

footer > a{
    color: burlywood;
}

input[type="text"]{

    color: thistle;
    width: 300px;
    background-color:blanchedalmond;
}

button:active{
    background-color:red;
}

/*
button:hover{

    background-color: green;
    color:white;
}
*/
h1::first-letter{
    font-size: 50px;
}
.para::selection{
    background-color: yellow;
}


.specificity button:hover{
    color:green;
    background-color: aqua;
}


button:hover{
    background-color: orange;
}